.collection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 1fr; /* Ajusta la altura automática en función del ancho */
  grid-gap: 5rem;
  justify-content: center;
  background-color: #f7ffe321;
  border: 1px solid black;
  padding: 2vw;
  max-width: 90vw;
  margin: 0 auto;
}

.collection > * {
  aspect-ratio: 1/1; /* Establece la relación de aspecto como 1:1 */
}

.project-box {
  background-color: #E4FF09;
  position: relative;
  width: 200px; /* ajusta el ancho según tus necesidades */
  height: 200px; /* ajusta la altura según tus necesidades */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.project-box img {
  max-width: 65%;
  max-height: 65%;
}

.main {
  background-image: url('img/background.png'); /* ruta de la imagen con detalles de puntos y líneas */
  background-repeat: repeat; /* repetir la imagen en el fondo */
  color : #FFFFFF;
}


.project-box button {
  background-color: #161114;; /* color de fondo del botón */
  color: #E4FF09;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 8px;

}
.btn-main{
  background-color: #E4FF09;
}

.info-container {
  border: 1px solid black;
  padding: 2vw;
  max-width: 90vw;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.foot{
  border: 1px solid black;
  padding: 2vw;
  max-width: 90vw;
  margin: 0 auto;
}
.jumbotron{
  background-image: url('img/background.png'); /* ruta de la imagen*/

}
